
<div class="page-titles-img title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("/Assets/Imgs/thirsty-turf-irrigation-27062.jpg")'>
    <div class="container">
        <div class="row">
            <div class=" col-md-12">
                <h1 class='text-uppercase mb20' style="font-size:40px;">Commercial Services </h1>
                @*<a href='https://www.youtube.com/watch?v=vKuHmA2P8gQ&t=15s' class=' text-white modal-video'> <i class="fa fa-play-circle fa-2x"></i></a>*@

            </div>
        </div>
    </div>
</div><!--page title end-->
<div class="container pb50 pt80">
    <div class="row align-items-center">
        <div class="col-md-6 mb30">
            <h3 class="mb20">Commercial Landscaping Services</h3>
            <p class="lead">
                Our clients receive the highest quality scheduled lawn and landscape maintenance and prompt emergency service. Each commercial landscape property serviced receives individualized attention to detail to ensure a consistent professional image.
            </p>
            <p class="lead">
                Our commitment to unsurpassed customer service has resulted in steady growth  largely due to referrals from satisfied customers. We welcome the opportunity to add you to our esteemed list of long-term, loyal Commercial clients. We guarantee we can increase the appearance and value of your commercial property.
            </p>
        </div>
        <div class="col-md-6 mb30">
            <img src="/Assets/Imgs/Comm land.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>
<div class="bg-faded">
    <div class="container pb50 pt80">
        <div class="row align-items-center">
            <div class="col-md-6 mb30">
                <img src="/Assets/Imgs/Snow Removal1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 mb30">
                <h3 class="mb20">Snow & Ice Management</h3>
                <p class="lead">
                    Although North Carolina is located in an area on the east coast that receives minimal amounts of inclement weather each year, when we do, it can be crippling to businesses. Offer snow removal and ice management to commercial clients.  We understand not much thought is put into snow management prior to it’s arrival but it is best to have a plan in place before the inclement weather arrives. Call or email to schedule a consultation for snow and ice management today.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container pb50 pt80">
    <div class="row align-items-center">
        <div class="col-md-6 mb30">
            <h3 class="mb20">Commercial Cleaning Services</h3>
            <p class="lead">
                We Properly Clean The Concrete On Your Business Property!
            </p>
            <p class="">
                If you had to walk past discarded gum and stains on the sidewalk outside your business, you may think twice before returning. With so much competition among businesses, you can be sure that even the intangible parts of the customer experience can contribute to the profitability of your enterprise.
            </p>
            <p class="">
                Whether you own a medical facility or restaurant, a hotel or an office building, the cleanliness of the concrete on your property can be a critical part of your marketing strategy. Perfect Power Wash’s commercial concrete cleaning team will come to your property to restore your concrete surfaces, ensuring your business has a professional appearance. Using both heavy duty truck-mounted pressure washing equipment as well as hand-wheeled units, our trained and insured teams can restore even the most remotely located concrete pads.
            </p>
            <p class="">
                Our services are ideal for sidewalks, commercial garage spaces, storage areas, parking lots and loading docks. We use safe biodegradable cleansers and professional pressure washing equipment to give the most thorough results.
                Contact Us today for an instant quote on our commercial concrete cleaning services! We will find an appointment time that works with your business schedule.
            </p>
        </div>
        <div class="col-md-6 mb30">
            <img src="/Assets/Imgs/13432340_10206132246337015_6804163672913170911_n.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>



@*<div class="bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("/Assets/Imgs/lawn.jpg")'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 pt30 pb30 text-center">
                    <div class="icon-bg">
                        <i class="ti-home fa-4x mb20"></i>
                        <h3>Basic Lawncare Service</h3>
                        <p>
                            This service includes mowing, edging, trimming and blowing grass and debris off all concrete areas. We use our quality commercial grade zero turn mowers to mow the lawn to a desired height. In unmowable areas, we use string-trimmers to trim the grass to the same height the mower would have cut it. We use our edgers to give your driveway and sidewalk a crisp clean line. Finally, we remove all the clippings and debris from the sidewalk, house, curb, driveway and patio areas using our high powered blowers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-faded ">
        <div class="container pt60">
            <div class="row align-items-center">
                <div class="col-md-7 mb30 fadeIn">
                    <h3 class="mb20">Landscaping Services</h3>
                    <p class="lead">
                        It is the mowing off season, but this doesn't mean to just forget about your lawn. This is the critical time to prepare your turf area and garden beds for the upcoming season. Its also a great time for planting. This means getting rid of the shrubs and trees you don't like for new and improved ones. We offer new Garden Bed Installations as well as Renewing existing Garden Beds. Tree Trimming, Shrub Trimming, and Mulch are some of the timely services to get scheduled now. These services are great to add into your fall cleanup service once all the leaves have fallen.
                    </p>
                    <p class="lead">
                        You don't get voted <strong>BEST</strong> Lawn and Landscape Business over night. We have put ourselves through hours of hands on training, certifications, licensing and research to make sure we are giving you the best service possible. Our Scheduled Lawn Maintenance is second to none! We know when you hire us as your professional that you want a yard that has a professionally maintained image. We arrive uniformed and courteous and utilize only the best of the best lawn and landscape equipment. We put many hours a week just in keeping our equipment looking and performing its best for our customers.
                    </p>
                    <p>
                        <strong>(Mulch, Seed/Sod, Pavers, Planting, Garden Beds, Shrub/Tree Trimming, Annual Planting) *AddIn</strong>
                    </p>
                </div>
                <div class="col-md-5 mb30">
                    <img src="/Assets/Imgs/lanscaping.jpg" alt="" class="img-fluid" style="height:400px;">
                </div>
            </div>
        </div>
    </div>
    <div class="half-image-content">
        <div class="content-img bg-parallax pos-left hidden-lg-down" data-jarallax='{"speed": 0.2}' style="background:url(/Assets/Imgs/larry-tseng-183721.jpg) no-repeat;">
        </div>
        <img src="/Assets/Imgs/larry-tseng-183721.jpg" class="visible-lg-down img-fluid hidden-lg-up" alt="">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 ml-lg-auto pt70 pb70">
                    <h2 class="mb40">
                        Snow Plow & Ice Control Services
                    </h2>
                    <div class="clearfix">
                        <div class="media mb30 wow fadeInUp" data-wow-delay=".150ms">
                            @*<div class="d-flex mr-3">
                                    <i class="fa-icon-snowflake-o fa-3x"></i>
                                </div>
                            <div class="media-body">
                                <p class="lead">
                                    Your business can’t afford to shut down because of snow or ice. So we are always looking ahead for you. We map and flag possible hazards before the season starts and create a removal plan tailored to your site. During the winter, we monitor storms, and our crews and equipment are on call 24/7 to manage whatever comes your way before the first flake hits the ground.
                                </p>

                                <ul class="list-unstyled list-icon mb20">
                                    <li>24/7 preparedness</li>
                                    <li>Pre Season and Pre Storm Planning</li>
                                    <li>Curb to Curb Treatment / Clearing of your property  </li>
                                    <li>Affordable Pricing</li>
                                    <li>Dependable Service Periods </li>
                                </ul>
                                <div class="text-capitalize">
                                    <a href="tel:9199200680"><strong>CALL NOW AND GET ON OUR WORRY FREE WINTER SCHEDULE!</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>half image section

    <div class="bg-faded ">
        <div class="container pt90">
            <div class="row align-items-center">
                <div class="col-md-12 mb30">
                    <h3 class="mb20">Common Things We Clean</h3>
                    <p class="lead">
                        <div class="col-md-6">
                            <ul class="mb20 lead">
                                <li>Roofs (Metal & Asphalt shingle)</li>
                                <li>House Siding (Vinyl, Brick, Stucco, Metal and more)</li>
                                <li>Gutter Whitening and Complete Interior wash out</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="mb60 lead">
                                <li>Concrete Cleaning and Restoration</li>
                                <li>Certified rust removal specialist</li>
                                <li>We have the appropriate chemicals and know how to clean just about anything that you want. Just Ask!</li>
                            </ul>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="half-image-content">
        <div class="content-img bg-parallax pos-right hidden-md-down" data-jarallax='{"speed": 0.2}' style="background:url(/Assets/Imgs/Pressure.jpg) no-repeat;">
        </div>
        <img src="/Assets/Imgs/Pressure.jpg" class="visible-lg-down hidden-lg-up img-fluid" alt="">
        <div class="container">
            <div class='row'>
                <div class="col-lg-5  pt70 pb70  fadeInLeft">
                    <h2 class="mb40">
                        Pressure Washing Services
                    </h2>
                    <div class="clearfix">
                        <p>
                            We are Goldsboro NC CERTIFIED roof washing and soft washing specialist. We have the equipment and training to safely clean your home. We use NO PRESSURE roof cleaning and SOFT WASHING house washing. We utilize HOT and COLD water units combined with the appropriate detergents to make sure we get the best clean possible. Our specialty is CONCRETE RESTORATION. Utilizing our Hot Water Pressure Washer attached to a wide area Surface Cleaner, we apply a mild degreaser and concrete Brightener to produce amazing results for our customers.
                        </p>
                        <p>
                            We are Goldsboro NC's only service professional to offer a full interior and exterior gutter cleaning. Our Gutter Cleaning is the best hands down. Our services range from a simple interior clean out to our Premium Interior Clean out with full flush of the inside and ounspout and an exterior whitening. The gutters are aluminum and go through quite the abuse of handling the debris coming off the roof. This causes the gutters to oxidize, form mold, loosen up, and just overall look NASTY! For all our services we have been through many hours of hands on training, certifications, and research to find the safest and most cost effective way to give you the best service possible.
                        </p><br>
                    </div>
                </div>
            </div>
        </div>
    </div>*@<!--half image section-->
<!-- Green background overlay -->
@*<div class="bg-green" style="background-color: rgba(138, 208, 25, 0.09);">*@